<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="genericException">
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

	<div class="container text-center exception">
		<p class="h1 text-info">Error occurred</p>
		<br /><br />
		
		<span class="label text-danger h3" 
			th:text="${title}==null? _ : ${title} + ':'">Error type</span>
		<p class="text-danger h5" 
			th:text="${message}==null? _ : ${message}">Error message here</p>
		<br />
		
		<img class="img-fluid " alt="thinking" 
			src="../../static/img/thinking.jpg" 
			th:src="@{/img/table.jpg}" />
	</div>
	<br /><br />
	<div class="container text-center">
		<button id="indexButton" class="btn btn-info"
			th:attr="onclick='toPage(\'' + @{/} + '\')'">Back to Index</button>
	</div>
	<script src="../../static/js/main.js" th:src="@{js/main.js}"></script>
</th:block>


<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="exceptionAlert">
	<div class="modal modalFragment" id="alertModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmModalLabel"
					th:text="${title}==null? _ : ${title}">Achtung!</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="alert-danger" 
					th:text="${message}==null? _ : ${message}">Exception message</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Mmkay!</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('#alertModal').modal();
	</script>
</th:block>